 .footer_box{
        background-color: $color-background;
        padding-top: $spacing-lg;

        ul{
            list-style: none;
            padding: 0;
            li{
                font-size: 15px;
                font-weight: 400;
                line-height: 34px;
            }
            li a, li a:visited{
                color: $color-secondary;
                text-decoration: none;
            }
            li a:hover{
                color: rgb(152, 168, 109);
            }
        }
        .first_footer_box{
            .footer-text{
                position: relative;
                padding: 4px 0;
            }
            h4{
                font-size: 21px;
                font-weight: 500;
                line-height: 25.2px;
            }
            h4:before{
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 54px;
                border-bottom: 1px solid;
            }
            ul{
                margin: $spacing-md 0;
            }
        }

        .last_footer_box{
            border-top:1px #E8E8F2 solid;
            padding: $spacing-lg 0 $spacing-sm 0;  
            .logo_footer{
                cursor: pointer;
            }        
            .ant-col-6{
            font-size: $font-size-md;
            font-weight: 400;
            line-height: 21px;
            color: rgb(108,108,108);
            a, a:hover, a:active{
                color:  rgb(152, 168, 109);
                text-decoration: none;
            }
           }
        }
    }
    @media screen and (max-width:900px) {
        .footer_box{
            .last_footer_box{
                text-align: center;
            }
        }
    }

    @media screen and (max-width:576px) {
        .footer_box{
            .first_footer_box{
                text-align: center;
                h4:before{
                    visibility: hidden;
                }
            }
        }
    }