// colors
$color-primary: #98a96d;
$color-secondary: #000;
$color-white: #fff;
$color-text: #6E6E6E;
$color-text-secondary: #212529;
$color-background: #f8f8f8;
$color-background-lighter: #fafafa;
$color-light-gray: #ccc;
$color-link-hover: #98a86d;
$color-icon-button: rgb(24, 141, 193);
$color-btn-hover: #e8e8e8;

// font-sizes
$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg: 16px;
$font-size-h1: 80px;
$font-size-h2: 45px;
$font-size-h3: 20px;

// spacing
$spacing-sm: 10px;
$spacing-md: 20px;
$spacing-lg: 40px;