// colors
$color-primary: #98a96d;
$color-secondary: #000;
$color-text: #6E6E6E;
$color-background: #f8f8f8;
$color-light-gray: #ccc;
$color-dark-gray: #333;
$color-link-hover: #98a86d;

// font-sizes
$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg: 16px;
$font-size-h1: 80px;
$font-size-h2: 45px;
$font-size-h3: 20px;

// spacing
$spacing-sm: 10px;
$spacing-md: 20px;
$spacing-lg: 40px;