.faqs_box{
    margin-bottom: 80px;
    .faqs-header{
        margin-top: 80px;
        h1{
            font-size: 36px;
            font-weight: 500;
            line-height: 43.2px;
            color: rgb(33, 37, 41);
        }
        p{
            margin: $spacing-md 0 $spacing-lg 0;
            font-size: 15px;
            font-weight: 400;
            line-height: 28px;
        }
        .ant-divider, .ant-divider-horizontal{
            border-block-start:1px solid #e1e1e1;
        }
    }

    .ant-collapse{
        margin-bottom: 80px;
        .ant-collapse-item{
            .ant-collapse-header-text{
                font-size: 18px;
                font-weight: 500;
                line-height: 27px;
            }
        }
        .ant-collapse-item-active{
            .ant-collapse-content{
                p{
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 28px;
                }
            }
        }
        .ant-collapse-expand-icon .ant-collapse-arrow{
            font-size: 18px;
        }
    }
     .ant-divider.divider-faqs{
        border-block-start:1px solid #e1e1e1;
    }
}