.banner-box{
    position: relative;
    bottom: 100px;

    .slick-dots li button:before {
        content: '';
    }
  
    .greenTeaJapBox{
        background-image: url('../../img/tea\ leaves.jpg');
      background-repeat: no-repeat;
      height: 100vh;
    }

    .BlackTeaBox{
        background-image: url('../../img//tea_leaves_black.jpg');
      background-repeat: no-repeat;
      height: 100vh;
    

    }
  
    .teaBox{
        margin: 200px auto;
        text-align: center;
        color: #fff;
        font-family: 'Playfair Display',serif;
        

        .up-text{
            text-transform: uppercase;
            font-size: $font-size-lg;
        }
        h1{
            font-size: $font-size-h1;
            
        }
        .down-text{
            font-size: $font-size-h3;
        }
       
        a{
            
            color: #fff;
            text-transform: uppercase;
            border: 1px solid #fff;
            text-decoration: none;
            display: inline-block;
            line-height: 1.5;
            box-shadow: none;
            font-size: 15px;
            padding: $spacing-sm 35px;
            height: auto;
            transition: none;
        }
         a:hover, a:active{
            
            background: #fff;
            color: $color-secondary;
            border-color: #fff;
            box-shadow: none;
           
        }
      
    }
}

.flex-matcha-box{
    
.matcha{
    height: 500px;
    width: 47%;
    margin: 70px 0;
  div{
    padding: 150px 50px;
  }
    h2{
        font-size: $font-size-h2;
    }    
}
}

.matcha a, .cart-drawer-box a{   
    color: #fff;
    background-color: $color-secondary;
    border: 1px solid $color-secondary;
    text-decoration: none;
    display: inline-block;
    line-height: 1.5;
    font-size: 15px;
    padding: $spacing-sm 35px;
    height: auto;
    transition: none;
}
.matcha a:hover, .matcha a:active, .cart-drawer-box a:hover, .cart-drawer-box a:active{
    
    background: $color-primary;
    color: #fff;
    border-color: $color-primary;
}

.matcha:first-child{
    background-image: url('../../img/matcha_banner.jpg');
      background-position: center;
  background-size: cover;
   background-repeat: no-repeat;
}
.matcha:last-child{
    background-image: url('../../img/organic_banner.jpg');
      background-position: center;
  background-size: cover;
   background-repeat: no-repeat;
}

 .green-tea-banner{
        margin-top: 60px;
        img{
            width: 100%;
        }
        .banner-info{
            color: #fff;
            background-image: url('../../img/green_tea_bg_banner.jpg');
            position: relative;
        
        div{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 75%;

        }
        
        h1{
            font-size: $font-size-h2;
            padding-bottom: $spacing-md;
        }
        p{
            font-size: $font-size-lg;
            padding-bottom: 30px;
        }
       a{
            
            border-radius: 0px;
            color: $color-primary;
            text-transform: uppercase;
            border: 1px solid #fff;
            background: #fff;
            text-decoration: none;
            display: inline-block;
            line-height: 1.5;
            box-shadow: none;
            font-size: 15px;
            padding: $spacing-sm 35px;
            height: auto;
            transition: none;
        }
         a:hover, a:active{
            
            background: none;
            color: #fff;
            border-color: #fff;
            box-shadow: none;
           
        }
       
        }
    }

     .new-arrivals-box{
        text-align: center;
        margin-top: 50px;

        .slick-dots li button:before{
            content: '';
        }

        h1{
            font-size: $font-size-h2;
        }
        p{
            font-size: 15px;
            color:  #828282;
        }
        .ant-carousel{
            text-align: left;
             
            .slick-dots-bottom{
                
                bottom: -70px;
            }
            .slick-dots li{
            border:  2px rgba(173, 173, 173, .3) solid; 
            border-radius: 20px;
            width: 11px;
            height: 11px;
            background-color: #adadad00;
        }
         .slick-dots li.slick-active, .slick-dots li.slick-active button {
            background-color: #adadad;
            border:  2px rgba(173, 173, 173, 0) solid;
        }
    }
    }

     .filter_imgs_box{
        margin-top: 150px;
        .ant-row{
            margin: $spacing-lg 0 $spacing-lg $spacing-lg !important;
            width: 95%;
           
        }
         .ant-col-6{
            position: relative;
            
           

            .hover_text_box{
                position: absolute;
                background-color: #fff;
                top: 30px;
                left: 30px;
                bottom: 30px;
                right: 30px;
                align-items: center;
                display: flex;
                padding: $spacing-md;
                opacity: 0;
                
               
                 
                
                
    

                div{
                    width: 100%;
                    text-align: center;

                    h2{
                        font-size: 28px;
                        color: rgb(33, 37, 41);
                    }
                    a{
                       font-size: $font-size-lg;
                       color: $color-secondary;
                       text-decoration: none;
                       display: inline-block;
                    }
                     a:hover{
                        color: $color-primary;
                    }
                    
                }

            }
        }
        .ant-col-6:hover .hover_text_box{
            opacity: 1;
            animation-name: bannerClip;
                animation-delay: 0s;
                animation-duration: 0.5s;
                animation-timing-function: ease;
        }
    }

    @media screen and (min-width: 1200px) and (max-width: 1500px){
        .banner-box{
            .teaBox{
                h1{
                    font-size: 60px;
                }
            }
        }
       .flex-matcha-box{
            .matcha{
                height: 400px;
                margin: 60px 0;
            div{
                padding: 140px 40px;
            }
                h2{
                    font-size: 35px;
                }    
            }
        }
    }

     @media screen and (min-width: 992px) and (max-width: 1199.98px){
        .banner-box{
            .greenTeaJapBox,.BlackTeaBox{
                height: auto;
            }
            .teaBox{
                h1{
                    font-size: 55px;
                }
            }
            .flex-matcha-box{
            .matcha{
                height: 300px;
                margin: 50px 0;
            div{
                padding: 100px 30px;
            }
                h2{
                    font-size: 25px;
                    font-weight: 400;
                }    
            }
        }
            
        }
    }

     @media screen and (min-width: 768px) and (max-width: 991.98px){
        .banner-box{
            .greenTeaJapBox,.BlackTeaBox{
                height: auto;
            }
            .teaBox{
                margin: 150px auto 100px auto;
                h1{
                    font-size: 45px;
                }
            }
             .flex-matcha-box{
            .matcha{
                height: 200px;
                margin: 40px 0;
            div{
                padding: 50px 20px;
            }
                h2{
                    font-size: 25px;
                    font-weight: 400;
                }    
            }
        }
            
        
        }
    }

     @media screen and (min-width: 576px) and (max-width: 767.98px){
        .banner-box{
            .greenTeaJapBox,.BlackTeaBox{
                height: auto;
            }
            .teaBox{
                margin: 150px auto 100px auto;
                h1{
                    font-size: 35px;
                }
            }
        }
    }

     @media screen and (max-width: 575.98px){
        .banner-box{
            .greenTeaJapBox,.BlackTeaBox{
                height: auto;
            }
            .teaBox{
                margin: 150px auto 100px auto;
                h1{
                    font-size: 30px;
                }
            }
        }
    }

     @media screen and (max-width: 768px){
        .banner-box{
            .flex-matcha-box{
                flex-direction: column;
            .matcha{
                width: 100%;
                height: 300px;
                margin: 10px;
            div{
                padding: 60px 20px;
            }
                h2{
                    font-size: 25px;
                    font-weight: 400;
                }    
            }
        }
        }
    }