 .success-add-page{
    border-bottom: 1px solid #eee; 
    text-align: center;
     .current-product{
        border-right: 1px solid #eee;
        padding: 0 15px;
        .red-header-text{
            color: #ff4949;
            font-size: 18px;
            margin-bottom: 10px;
            line-height: 25px;
        }
        img{
            max-width: 150px;
        }
        .product-info{
            .product-title{
                padding-bottom: 0;
                font-size: 16px;
                line-height: 20px;
                text-transform: capitalize;
                margin-top: 10px;
                font-weight: 400;
            }
            .text-uppercase{
                font-weight: 600;
                font-size: 11px;
                margin-bottom: 5px;
                text-transform: uppercase;
                span{
                    font-size: 14px;
                    font-weight: 400;
                    color: #98a86d;
                }
            }
        }
    }
    .cart-info{
        padding: 0 15px;
        p{
            font-size: 13px;
        }
        .product-items{
            color: #98a86d;
        }
        .total-price{
            font-size: 11px;
            font-weight: 600;
            text-transform: uppercase;
            span{
                font-size: 22px;
                color: #98a86d;
                font-weight: 400;
            }
        }
        .actions{
            display: inline-block;
            button{
                margin: 0 auto 20px;
                color: #fff;
                width: 270px;
                max-width: 100%;
                height: 50px;
                font-size: 12px;
                text-transform: uppercase;
                letter-spacing: 1.5px;
                font-weight: 600;
                border-radius: 0;
                transition: .3s;
            }
            .shop-btn{
                color: #000;
                background-color: #fff;
                border: 2px solid #98a86d;
            }
            .shop-btn:hover{
                color: #fff;
                background-color: #98a86d;
            }
            .go-to-cart{
                background-color: #98a86d;
            }
            .go-to-cart:hover{
                background-color: #5f8e3e;
                border-color: #5f8e3e;
                color: #fff;
            }
            .disabled-btn{
                opacity: .5;
                pointer-events: none;
                cursor: default;
            }
            .checkbox-text{
                color: #979797;
                font-size: 13px;
            }
        }
    }
}