.wishlist-page{
    .title-table-box{
        text-transform: uppercase;
        font-weight: 500;
        font-size: 12px;
        letter-spacing: .2em;
    }
    .span-box, .btn-box-itemLink button{
        font-size: 14px;
        color: #a8a8a8;
        line-height: 1.6;
    }
    .btn-box-itemLink button:hover{
        color: #98a86d !important;
    }
    .center{
        text-align: center;
    }
    .link-box{
        text-align: center;
        margin: 30px 0;
        a{   
        color: #fff;
        background-color: #000;
        border: 1px solid #000;
        text-decoration: none;
        display: inline-block;
        line-height: 1.5;
        font-size: 14px;
        padding: 10px 35px;
        height: auto;
        transition: none;
        text-transform: uppercase;
        }
        a:hover, a:active{
            background: #98a96d;
            color: #fff;
            border-color: #98a96d;
        }
    }
     .btn-item {
        button{
            background-color: #000;
            color: #fff;
            border-radius: 0;
            padding: 12px 40px;
            text-transform: uppercase;
            border-color: #000;
            height: auto;
            letter-spacing: .2em;
            font-size: 12px;
        }
       
        .ant-btn-default:hover{
            border-color: #98a86d;
            color: #fff;
            background-color: #98a86d;
        }
     }

}