.wishlist-page{
    .title-table-box{
        text-transform: uppercase;
        font-weight: 500;
        font-size: $font-size-sm;
        letter-spacing: .2em;
    }
    .span-box, .btn-box-itemLink button{
        font-size: $font-size-md;
        color: #a8a8a8;
        line-height: 1.6;
    }
    .btn-box-itemLink button:hover{
        color: $color-link-hover !important;
    }
    .center{
        text-align: center;
    }
    .link-box{
        text-align: center;
        margin: 30px 0;
        a{   
        color: #fff;
        background-color: $color-secondary;
        border: 1px solid $color-secondary;
        text-decoration: none;
        display: inline-block;
        line-height: 1.5;
        font-size: $font-size-md;
        padding: $spacing-sm 35px;
        height: auto;
        transition: none;
        text-transform: uppercase;
        }
        a:hover, a:active{
            background: $color-primary;
            color: #fff;
            border-color: $color-primary;
        }
    }
     .btn-item {
        button{
            background-color: $color-secondary;
            color: #fff;
            border-radius: 0;
            padding: 12px $spacing-lg;
            text-transform: uppercase;
            border-color: $color-secondary;
            height: auto;
            letter-spacing: .2em;
            font-size: $font-size-sm;
        }
       
        .ant-btn-default:hover{
            border-color: $color-link-hover;
            color: #fff;
            background-color: $color-link-hover;
        }
     }

}

.product-cell{
    display: flex;
  align-items: center;
  gap: 8px; 
}

@media (max-width: 720px) {
  .wishlist-page{
      .btn-item {
        button{
    letter-spacing:normal;
}}
  }
  .product-cell {
    flex-direction: column; /* Элементы будут располагаться вертикально */
    align-items: flex-start; /* Выровнять по левому краю */
    text-align: left;
    gap: 0;
  }

  .btn-box-itemLink {
    margin-top: 8px; /* Добавить отступ сверху для текста */
  }
}

@media (max-width: 576px) {
  .wishlist-page{
      .btn-item {
        button{
    letter-spacing:normal;
    padding: 5px;
    font-size: 8px;
}}
  }
  .product-cell {
    flex-direction: column; /* Элементы будут располагаться вертикально */
    align-items: flex-start; /* Выровнять по левому краю */
    text-align: left;
    gap: 0;
    .btn-box-itemLink button{
        padding: 0;
        display: none;
    }
  }

  .btn-box-itemLink {
    margin-top: 8px; /* Добавить отступ сверху для текста */
  }
}