.bg_box{
    background: url(../images/bg_main_nav.jpg) no-repeat center;
    background-size: cover;
    height: 800px;
 }

.bg_box #logo{
    margin: 0;
    padding: 0;
    color: rgb(212,216,217);
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
}

.bg_box .nav_main{
    color: rgb(106, 100, 100);
    list-style-type: none;   
}

.bg_box .icon_style{
    color: rgb(89,94,0);
}

.bg_box_catalogue{
    background: url(../images/plant_bg_nav.jpg) no-repeat center;
    background-size: cover;
    height: 200px;
}

.bg_box_catalogue #logo{
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
}

.bg_box_catalogue .nav_main{
    color: rgb(255, 255, 255);
    list-style-type: none;   
}

.bg_box_catalogue .icon_style{
    color: rgb(255, 255, 255);
}

.bg_box_cart{
    background-color: rgb(192,195,133);
    background-size: cover;
    height: 200px;
}

.bg_box_cart #logo{
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
}

.bg_box_cart .nav_main{
    color: rgb(255, 255, 255);
    list-style-type: none;   
}

.bg_box_cart .icon_style{
    color: rgb(255, 255, 255);
}

.nav_main li{
    float: left;
    padding: 0 25px;
}


.big_text{
    margin: 0 auto;
    width: 50%;
    text-align: left;
    padding-top: 100px;
}
.big_text h1{
    color: rgb(89,94,0);
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 8px;
    font-size: 90px;
    /* font-weight: 100; */
    text-transform: uppercase;
}

.big_text #than{
    text-align: right;
    margin-right: 40px;

}

.narrow_box{
    width: 400px;
    margin: 0 auto;
}

.narrow_img{
    float: right;
}

